<h1>指令</h1>

<div class="pageStyle">
    <h4>指令的四种调用方法</h4>
    <my-directive></my-directive> 
    <pre>
        E: 元素调用
        &lt;my-directive&gt;&lt;/my-directive&gt;</pre>
    <div my-directive></div>
    <pre>
        A: 属性调用
        &lt;div class="my-directive"&gt;&lt;/div&gt;</pre>
    <div class="my-directive"></div>
    <pre>
        C: 类调用
        &lt;div class="my-directive"&gt;&lt;/div&gt;</pre>
    <!--directive:my-directive-->
    <pre>
        M: 注释调用
        &lt;!--directive:my-directive--&gt;</pre>

    <h4>绑定策略</h4>
    <div my-directive-bind
         my-url="http://www.baidu.com"
         my-link-text="Click me to go to baidu">
    </div>

    <pre>
        &lt;div my-directive
            my-url="http://www.baidu.com"
            mylinktext="Click me to go to baidu"
        &lt;/div&gt;

        angular.module('myApp', [])
        .directive('myDirective', function() {
            return {
                restrict: 'A',
                replace: true,
                scope: {
                    myUrl: '@',
                    myLinkText: '@'
                },
                template: '&lt;a href="{ {myUrl} }"&gt;' + '{ {myLinkText} }&lt;/a&gt;'
                }; 
        });</pre>

    <h4>基础ng属性指令</h4>
    <pre>
        布尔属性
        ng-disabled
        ng-readonly
        ng-checked
        ng-selected</pre>
    <pre>
        类布尔属性
        ng-href
        ng-src</pre>

    <h4>在指令中使用子作用域</h4>
    <pre>
        ng-include
        ng-switch
        ng-repeat
        ng-view
        ng-controller
        ng-if</pre>

    <h4>常用实用ng指令(在之前项目较少用到,在此整理一下)</h4>
    <pre>
        ng-cloak

        除了使用ng-bind来避免未渲染元素闪烁,还可以在含有{{ }}的元素上使用ng-cloak指令:
        示例:
        &lt;p ng-cloak&gt;{ { greeting } }&lt;/p&gt;
            &lt;body ng-init="greeting='HelloWorld'"&gt;
        &lt;/body&gt;
        ----------------------
        ng-bind-template

        同ng-bind指令类似，ng-bind-template用来在视图中绑定多个表达式。
        示例:
        &lt;div ng-bind-template="{ {message} }{ {name} }"&gt;
        &lt;/div&gt;
        ----------------------
        ng-form

        ng-form用来在一个表单内部嵌套另一个表单.普通的HTML &lt;form&gt;标签不允许嵌套，但ng-form可以.
    </pre>

    <div class="bs-example">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>产线分公司</th>
                    <th>专员代码</th>
                    <th>专员名称</th>
                    <th>P09工号</th>
                    <th>P09名称</th>
                    <th>团队代码</th>
                    <th>团队名称</th>
                    <th>对应关系</th>
                    <th>产险中支</th>
                    <th>寿险中支</th>
                    <th>职场</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="x in testArr track by $index">
                    <!--产线分公司-->
                    <td>
                        <p data-ng-repeat="y in x.company track by $index">{{y}}</p>
                    </td>
                    <!--专员代码-->
                    <td>
                        <p data-ng-repeat="y in x.code track by $index">{{y}}</p>
                    </td>
                    <!--专员名称-->
                    <td>
                        <p data-ng-repeat="y in x.name track by $index">{{y}}</p>
                    </td>
                    <!--P09工号-->
                    <td>
                        <p data-ng-repeat="y in x.p09no track by $index">{{y}}</p>
                    </td>
                    <!--P09名称-->
                    <td>
                        <p data-ng-repeat="y in x.p09name track by $index">{{y}}</p>
                    </td>
                    <!--团队代码-->
                    <td>
                        <p data-ng-repeat="y in x.tramCode track by $index">{{y}}</p>
                    </td>
                    <!--团队名称-->
                    <td>
                        <p data-ng-repeat="y in x.teamName track by $index">{{y}}</p>
                    </td>
                    <!--对应关系-->
                    <td>
                        <p data-ng-repeat="y in x.ship track by $index">{{y}}</p>
                    </td>
                    <!--产险中支-->
                    <td>
                        <p data-ng-repeat="y in x.chanxian track by $index">{{y}}</p>
                    </td>
                    <!--寿险中支-->
                    <td>
                        <p data-ng-repeat="y in x.shouxian track by $index">{{y}}</p>
                    </td>
                    <!--职场-->
                    <td>
                        <p data-ng-repeat="y in x.area track by $index">{{y}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <table class="table table-bordered">
            <thead>
                <tr>
                    <th>产线分公司</th>
                    <th>专员代码</th>
                    <th>专员名称</th>
                    <th>P09工号</th>
                    <th>P09名称</th>
                    <th>团队代码</th>
                    <th>团队名称</th>
                    <th>对应关系</th>
                    <th>产险中支</th>
                    <th>寿险中支</th>
                    <th>职场</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="x in testList track by $index">
                    <!--产线分公司-->
                    <td>
                        <p data-ng-repeat="y in x.salersBases track by $index">{{y.deptgrpName}}</p>
                    </td>
                    <!--专员代码-->
                    <td>
                        <p data-ng-repeat="y in x.salersBases track by $index">{{y.salerCode}}</p>
                    </td>
                    <!--专员名称-->
                    <td>
                        <p data-ng-repeat="y in x.salersBases track by $index">{{y.salerName}}</p>
                    </td>
                    <!--P09工号-->
                    <td>
                        <p data-ng-repeat="y in x.salersBases track by $index">{{y.p09Code}}</p>
                    </td>
                    <!--P09名称-->
                    <td>
                        <p data-ng-repeat="y in x.salersBases track by $index">{{y.p09Name}}</p>
                    </td>
                    <!--团队代码-->
                    <td>
                        <p data-ng-repeat="y in x.salersBases track by $index">{{y.teamCode}}</p>
                    </td>
                    <!--团队名称-->
                    <td>
                        <p data-ng-repeat="y in x.salersBases track by $index">{{y.teamName}}</p>
                    </td>
                    <!--对应关系-->
                    <td>
                        <p data-ng-repeat="y in x.salersBases track by $index">{{y.salerWorkspaceShip}}</p>
                    </td>
                    <!--产险中支-->
                    <td>
                        <p data-ng-repeat="y in x.salersBases track by $index">{{y.status}}</p>
                    </td>
                    <!--寿险中支-->
                    <td>
                        <p data-ng-repeat="y in x.salersWorkplaces track by $index">{{y.lifeDeptgrpName}}</p>
                    </td>
                    <!--职场-->
                    <td>
                        <p data-ng-repeat="y in x.salersWorkplaces track by $index">{{y.lifeWorkplaceName}}</p>
                    </td>
                </tr>
            </tbody>
        </table>


</div>

<br/><br/><br/><br/><br/><br/>