<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion"
          href="#collapseOne" class="sidebarA">
          Dashboard
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body" style="padding: 0px">
        <div class="sidebarInside" ng-click="goPageClick(1)">bootStrap</div>
        <div class="sidebarInside" ng-click="goPageClick(2)">angularJS</div>
        <div class="sidebarInside" ng-click="goPageClick(3)">过滤器</div>
        <div class="sidebarInside" ng-click="goPageClick(4)">表单验证</div>
        <div class="sidebarInside" ng-click="goPageClick(5)">指令</div>
        <div class="sidebarInside" ng-click="goPageClick(6)">服务</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion"
          href="#collapseTwo" class="sidebarA">
          playGround
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body" style="padding: 0px">
        <div class="list-group">
          <a  ng-click="goPageClick(7)" class="list-group-item list-group-item-success">playGround</a>
          <a class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
          <a class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
          <a class="list-group-item list-group-item-danger">Vestibulum at eros</a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion"
          href="#collapseThree" class="sidebarA">
          Factor
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body" style="padding: 0px">
        Nihil anim keffiyeh helvetica, craft beer labore wes anderson
        cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
        vice lomo.
      </div>
    </div>
  </div>
</div>
